* {
    margin: 0;
    padding: 0;
    font-family: Candara, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffd8a0;
    background-image: url("../img/back_line_signin.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

div {
    display: flex;
    /* used for formatting the divs
    border: 1px solid black; */
}

button {
    background: transparent;
    border: transparent;
}

.top_empty_space {
    height: calc(1/18 * 100%);
}

.container_main {
    height: 100%;
    flex-direction: row;
}

.container_account_left {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.account_left {
    width: calc(11.2/16 * 100%);
    height: calc(14/18 * 100%);
    flex-direction: column;
    margin-right: calc(0.8/16 * 100%);
}

.container_welcome_logo {
    position: relative;
    width: 100%;
    height: calc(7/14 * 100%);
    justify-content: flex-start;
    align-items: flex-start;
}

.intermediate_welcome_logo {
    position: absolute;
    width: calc(8.1/11.2 * 100%);
    height: calc(5/7 * 100%);
    justify-content: center;
    align-items: center;
    margin-left: calc(0.8/11.2 * 100%);
    top: calc(0.5/7 * 100%);
}

.welcome_logo {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

#welcome_logo_img {
    width: auto;
    height: 100%;
}

#container_account_pan_row,
#container_account_pie_row {
    width: 100%;
    height: calc(7/14 * 100%);
    justify-content: flex-start;
    align-items: flex-start;
}

.intermediate_account_logo {
    width: 100%;
    height: 100%;
}

.account_logo {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

#account_pan_row,
#account_pan_column,
#account_pie_row,
#account_pie_column {
    width: 100%;
    height: auto;
}

#container_account_pan_column,
#container_account_pie_column {
    width: 100%;
    height: calc(7/14 * 100%);
    justify-content: center;
    align-items: center;
}

.container_account_right {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.account_right {
    width: calc(9.6/16 * 100%);
    height: calc(14/18 * 100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(4/32 * 100%);
}

#container_navigation_row {
    width: 100%;
    height: calc(2/14 * 100%);
    justify-content: flex-end;
    align-items: flex-start;
}

#container_navigation_column {
    width: 100%;
    height: calc(1/18 * 100%);
    justify-content: center;
    align-items: center;
}

#intermediate_navigation_row {
    width: calc(6/9.6 * 100%);
    height: calc(1/2 * 100%);
    justify-content: center;
    align-items: center;
    margin-right: calc(2/9.6 * 100%);
}

#intermediate_navigation_column {
    width: calc(6/11 * 100%);
    height: calc(1/3 * 100%);
    justify-content: center;
    align-items: center;
}

#intermediate_navigation_column {
    height: 100%;
}

.navigation {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navigation_button {
    color: #ec8a5e;
    background-color: transparent;
    border: #ffd8a0;
    font-size: 30px;
    border-bottom: 3px solid transparent;
}

.navigation_button:hover {
    color: #df613d;
    border: #ffd8a0;
    border-bottom: 3px solid #df613d;
}

#navigation_account_button_row,
#navigation_account_button_column {
    color: #df613d;
}

.navigation_space_column,
.navigation_space_row {
    color: #ec8a5e;
    font-size: 30px;
}

.navigation_space_column {
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.navigation_space_row {
    margin-right: 3%;
    margin-left: 3%;
}

.container_sign {
    width: 100%;
    height: calc(12/14 * 100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container_sign_option {
    width: 100%;
    height: calc(3/12 * 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intermediate_sign_option {
    width: 100%;
    height: calc(1/3 * 100%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign_option {
    width: 50%;
    height: 100%;
    color: #ec8a5e;
    justify-content: center;
    align-items: center;
}

.sign_option_button {
    color: #ec8a5e;
    background-color: transparent;
    border: #ffd8a0;
    font-size: 40px;
    border-bottom: 3px solid transparent;
}

.sign_option_button:hover {
    color: #df613d !important;
    border-bottom: 3px solid #df613d;
}

#sign_in_option_button {
    color: #df613d;
}

#sign_in_option_button:focus {
    color: #df613d;
}

#sign_in_option_button:focus ~ #sign_up_option_button{
    color: #ec8a5e;
}

#sign_up_option_button:focus ~ #sign_in_option_button {
    color: #ec8a5e;
}

.container_sign_input {
    width: 100%;
    height: calc(2.5/12 * 100%);
    justify-content: center;
    align-items: center;
}

.intermediate_sign_input {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sign_input {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sign_input_form {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sign_input_input {
    width: 100%;
    height: calc(1/2.5 * 100%);
    border-radius: 50px;
    color: #df613d;
    font-size: 25px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid #df613d;
    padding: 0 2ch;
}

.sign_input_input::placeholder {
    color: #df613d;
}

.sign_input_input:focus {
    outline: 1px solid #df613d;
}

#sign_in_email,
#sign_in_password {
    height: calc(1/2.5 * 100%);
}

#sign_up_email,
#sign_up_password,
#sign_up_repeat_password {
    height: calc(1/4 * 100%);
}

#sign_in_password,
#sign_up_password {
    margin-top: calc(0.5/12 * 100%);
}

#sign_up_repeat_password {
    margin-top: calc(0.25/12 * 100%);
}

.container_signin_forget {
    width: 100%;
    height: calc(1.5/12 * 100%);
    justify-content: flex-end;
    align-items: flex-start;
}

.intermediate_signin_forget {
    width: calc(4/9.6 * 100%);
    height: 50%;
}

.signin_forget {
    width: 100%;
    height: 100%;
}

.signin_forget_button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: #ec8a5e;
}

.signin_forget_button:hover {
    color: #df613d;
}

.container_sign_button {
    width: 100%;
    height: calc(5/12 * 100%);
    justify-content: center;
    align-items: center;
}

.intermediate_sign_button {
    width: 100%;
    height: 100%;
}

.sign_in_display,
.sign_up_display {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sign_in,
.sign_up {
    width: calc(3.6/9.6 * 100%);
    height: calc(2/5 * 100%);
    justify-content: center;
    align-items: center;
}

.sign_in_button,
.sign_up_button {
    width: 100%;
    height: 40%;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    background-color: #ec8a5e;
    color: #ffd8a0;
    border-radius: 50px;
}

.sign_in_button:hover,
.sign_up_button:hover {
    background-color: #df613d;
}

.or_border {
    width: calc(4.6/9.6 * 100%);
    height: calc(1/5 * 100%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.or_border_spaces {
    width: calc(1.8/4.6 * 100%);
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.or_border_space_top,
.or_border_space_bottom {
    width: 100%;
    height: 100%;
}

.or_border_space_top {
    border-bottom: 2px solid #df613d;
}

.or_border_text {
    width: calc(1/4.6 * 100%);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #df613d;
    font-size: 26px;
}

.sign_in_with_google,
.sign_up_with_google {
    width: calc(6/9.6 * 100%);
    height: calc(2/5 * 100%);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 100%;
}

.sign_with_google_image {
    height: 50%;
    width: auto;
}

.sign_in_with_google_button,
.sign_up_with_google_button {
    font-size: 30px;
}