html, body, div {
    margin: 0;
    padding: 0;
    font-family: Candara, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffd8a0;
    background-image: url("../img/back_lines_home.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}